{% load static %}

<!DOCTYPE html>
<html lang="en" dir="rtl">
<head>
    {% include 'home_app/inc/head.html' %}
</head>

<body>

<!-- **************** HEADER & OFFCANVAS START **************** -->
{% include 'home_app/inc/header.html' %}

{% block content %}

{% endblock content %}



<!-- =======================
Footer START -->
{% include 'home_app/inc/footer.html' %}
<!-- =======================
JS libraries, plugins and custom scripts -->
{% include 'home_app/inc/jslib.html' %}

</body>
</html>