{% extends 'home_app/base.html' %}

{% load static %}

{% load banner_post_tag %}
{% load pro_post_tag %}
{% load recent_post_tag %}


{% block content %}
    <!-- **************** محتوای اصلی شروع **************** -->
    <main>
        {% if messages %}
            <div class="messages">
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
        <!-- =======================
        بخش ترند شروع -->
        <section class="py-2">
            <div class="container">
                <div class="row g-0">
                    <div class="col-12 bg-primary bg-opacity-10 p-2 rounded">
                        <div class="d-sm-flex align-items-center text-center text-sm-start">
                            <!-- عنوان -->
                            <div class="me-3">
                                <span class="badge bg-primary p-2 px-3">ترند:</span>
                            </div>
                            <!-- اسلایدر -->
                            <div class="tiny-slider arrow-end arrow-xs arrow-white arrow-round arrow-md-none">
                                <div class="tiny-slider-inner"
                                     data-autoplay="true"
                                     data-hoverpause="true"
                                     data-gutter="0"
                                     data-arrow="true"
                                     data-dots="false"
                                     data-items="1">
                                    <!-- آیتم‌های اسلایدر -->
                                    <div><a href="index.html#" class="text-reset btn-link">رایج‌ترین بحث کسب‌وکار
                                        آنقدرها هم که فکر می‌کنید سیاه و سفید نیست</a></div>
                                    <div><a href="index.html#" class="text-reset btn-link">چگونه ۱۰ بدترین شکست کسب‌وکار
                                        تاریخ می‌توانست جلوگیری شود</a></div>
                                    <div><a href="index.html#" class="text-reset btn-link">رایج‌ترین بحث کسب‌وکار
                                        آنقدرها هم که فکر می‌کنید سیاه و سفید نیست</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> <!-- ردیف پایان -->
            </div>
        </section>
        <!-- =======================
        بخش ترند پایان -->

        <!-- =======================
        قهرمان اصلی شروع -->
        <section class="pt-4 pb-0 card-grid">
            <div class="container">
                <div class="row g-4">
                    <h3>پربازدیدترین پست‌های ماه</h3>

                    {% most_viewed_posts %}

                </div>
        </section>
        <!-- =======================
        قهرمان اصلی پایان -->


        <section class="position-relative">
            <div class="container" data-sticky-container>
                <div class="row">
                    {% pro_post %}
                    <!-- نوار کناری شروع -->
                    <div class="col-lg-3 mt-5 mt-lg-0">
                        <div data-sticky data-margin-top="80" data-sticky-for="767">

                            <!-- ویجت شبکه‌های اجتماعی شروع -
                            <div class="row g-2">
                                <div class="col-4">
                                    <a href="index.html#"
                                       class="bg-facebook rounded text-center text-white-force p-3 d-block">
                                        <i class="fab fa-facebook-square fs-5 mb-2"></i>
                                        <h6 class="m-0">۱.۵K</h6>
                                        <span class="small">دنبال‌کننده</span>
                                    </a>
                                </div>
                                <div class="col-4">
                                    <a href="index.html#"
                                       class="bg-instagram-gradient rounded text-center text-white-force p-3 d-block">
                                        <i class="fab fa-instagram fs-5 mb-2"></i>
                                        <h6 class="m-0">۱.۸M</h6>
                                        <span class="small">دنبال‌کننده</span>
                                    </a>
                                </div>
                                <div class="col-4">
                                    <a href="index.html#"
                                       class="bg-youtube rounded text-center text-white-force p-3 d-block">
                                        <i class="fab fa-youtube-square fs-5 mb-2"></i>
                                        <h6 class="m-0">۲۲K</h6>
                                        <span class="small">مشترک</span>
                                    </a>
                                </div>
                            </div>
                             ویجت شبکه‌های اجتماعی پایان -->

                            <!-- ویجت موضوعات ترند شروع -->
                            <div>
                                <h4 class="mt-4 mb-3">موضوعات ترند</h4>
                                <!-- آیتم دسته‌بندی -->
                                <div class="text-center mb-3 card-bg-scale position-relative overflow-hidden rounded bg-dark-overlay-4 "
                                     style="background-image:url({% static 'images/blog/4by3/01.jpg' %}); background-position: center left; background-size: cover;">
                                    <div class="p-3">
                                        <a href="index.html#"
                                           class="stretched-link btn-link fw-bold text-white h5">سفر</a>
                                    </div>
                                </div>
                                <!-- آیتم دسته‌بندی -->
                                <div class="text-center mb-3 card-bg-scale position-relative overflow-hidden rounded"
                                     style="background-image:url({% static 'images/blog/4by3/02.jpg' %}); background-position: center left; background-size: cover;">
                                    <div class="bg-dark-overlay-4 p-3">
                                        <a href="index.html#" class="stretched-link btn-link fw-bold text-white h5">کسب‌وکار</a>
                                    </div>
                                </div>
                                <!-- آیتم دسته‌بندی -->
                                <div class="text-center mb-3 card-bg-scale position-relative overflow-hidden rounded"
                                     style="background-image:url({% static 'images/blog/4by3/03.jpg' %}); background-position: center left; background-size: cover;">
                                    <div class="bg-dark-overlay-4 p-3">
                                        <a href="index.html#"
                                           class="stretched-link btn-link fw-bold text-white h5">بازاریابی</a>
                                    </div>
                                </div>
                                <!-- آیتم دسته‌بندی -->
                                <div class="text-center mb-3 card-bg-scale position-relative overflow-hidden rounded"
                                     style="background-image:url({% static 'images/blog/4by3/04.jpg' %}); background-position: center left; background-size: cover;">
                                    <div class="bg-dark-overlay-4 p-3">
                                        <a href="index.html#" class="stretched-link btn-link fw-bold text-white h5">عکاسی</a>
                                    </div>
                                </div>
                                <!-- آیتم دسته‌بندی -->
                                <div class="text-center mb-3 card-bg-scale position-relative overflow-hidden rounded"
                                     style="background-image:url({% static 'images/blog/4by3/05.jpg' %}); background-position: center left; background-size: cover;">
                                    <div class="bg-dark-overlay-4 p-3">
                                        <a href="index.html#" class="stretched-link btn-link fw-bold text-white h5">ورزشی</a>
                                    </div>
                                </div>
                            </div>
                            <!-- ویجت موضوعات ترند پایان -->

                            <div class="row">
                                <!-- ویجت پست‌های اخیر شروع -->
                                {% recent_post %}
                                <!-- ویجت پست‌های اخیر پایان -->

                                <!-- ویجت تبلیغ شروع -->
                                <div class="col-12 col-sm-6 col-lg-12 my-4">
                                    <a href="index.html#" class="d-block card-img-flash">
                                        <img src="{% static 'images/adv.png' %}" alt="">
                                    </a>
                                    <div class="smaller text-end mt-2">تبلیغات از طریق <a href="index.html#"
                                                                                          class="text-body"><u>بوت‌استرپ</u></a>
                                    </div>
                                </div>
                                <!-- ویجت تبلیغ پایان -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- جداکننده -->
        <div class="container">
            <div class="border-bottom border-primary border-2 opacity-1"></div>
        </div>





    </main>
    <!-- **************** محتوای اصلی پایان **************** -->
{% endblock content %}