{% extends 'home_app/base.html' %}

{% load static %}

{% block content %}

    <!-- **************** MAIN CONTENT START **************** -->
    <main>

        <!-- =======================
        Inner intro START -->
        <section>
            <div class="container">
                <div class="row">
                    {% if messages %}
                        <div class="messages">
                            {% for message in messages %}
                                <div class="alert alert-{{ message.tags }}" role="alert">
                                    {{ message }}
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                    <div class="col-md-10 col-lg-8 col-xl-6 mx-auto">
                        <div class="bg-primary bg-opacity-10 rounded p-4 p-sm-5">
                            <h2>اکانت جدیدی بسازید </h2>
                            <!-- Form START -->
                            <form class="mt-4" method="post" action="{% url 'account_app:registration_page' %}">
                                {% csrf_token %}
                                <!-- Email -->
                                <div class="mb-3">
                                    {{ form.username }}
                                    <small id="emailHelp" class="form-text">اطلاعات شما نزد ما محفوظ است.</small>
                                    {% if form.username.errors %}
                                        <div class="text-danger">
                                            {% for error in form.username.errors %}
                                                <small>{{ error }}</small>
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                </div>
                                <!-- Password -->
                                <div class="mb-3">
                                    <label class="form-label" for="exampleInputPassword1">رمز عبور</label>
                                    {{ form.password1 }}
                                    {% if form.password1.errors %}
                                        <div class="text-danger">
                                            {% for error in form.password1.errors %}
                                                <small>{{ error }}</small>
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                </div>
                                <!-- Password -->
                                <div class="mb-3">
                                    <label class="form-label" for="exampleInputPassword2">تایید رمز عبور</label>
                                    {{ form.password2 }}
                                    {% if form.password2.errors %}
                                        <div class="text-danger">
                                            {% for error in form.password2.errors %}
                                                <small>{{ error }}</small>
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                </div>



                                {% if form.non_field_errors %}
                                    <div class="alert alert-danger">
                                        {% for error in form.non_field_errors %}
                                            <p>{{ error }}</p>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                                <!-- Checkbox
                                <div class="mb-3 form-check">
                                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                    <label class="form-check-label" for="exampleCheck1">یک چک باکس فعلا بی خاصیت</label>
                                </div>
                                 Button -->
                                <div class="row align-items-center">
                                    <div class="col-sm-4">
                                        <button type="submit" class="btn btn-success">ثبت نام</button>
                                    </div>
                                    <div class="col-sm-8 text-sm-end">
                                        <span>حساب کاربری دارم!! <a href="{% url 'account_app:login_page' %}"><u>ورود مستقیم</u></a></span>
                                    </div>
                                </div>
                            </form>
                            <!-- Form END -->
                            <hr>
                            <!-- Social-media btn -->
                            <div class="text-center">
                                <p>ثبت نام با دیگر حسا های مجازی ام.</p>
                                <ul class="list-unstyled d-sm-flex mt-3 justify-content-center">
                                    <li class="mx-2">
                                        <a href="register.html#" class="btn bg-facebook d-inline-block"><i
                                                class="fab fa-facebook-f me-2"></i> از طریق فیسبوک</a>
                                    </li>
                                    <li class="mx-2">
                                        <a href="register.html#" class="btn bg-google d-inline-block"><i
                                                class="fab fa-google me-2"></i> از طریق گوگل</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- =======================
        Inner intro END -->

    </main>
    <!-- **************** MAIN CONTENT END **************** -->
{% endblock content %}