{% extends 'home_app/base.html' %}

{% load static %}

{% block content %}

    <main>

        <!-- =======================
        Inner intro START -->
        <section class="pt-2">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="card bg-dark-overlay-5 overflow-hidden card-bg-scale h-400 text-center"
                             style="background-image:url({{ post.image.url }}); background-position: center ; background-size: cover;">
                            <!-- Card Image overlay -->
                            <div class="card-img-overlay d-flex align-items-center p-3 p-sm-4">
                                <div class="w-100 my-auto">
                                    <!-- Card category -->
                                    {% for cat in post.category.all %}
                                        <a href="{{ cat.get_absolute_url }}" class="badge text-bg-{{ cat.color }} mb-2"><i
                                                class="fas fa-circle me-2 small fw-bold"></i>{{ cat.title }}</a>
                                    {% endfor %}
                                    <!-- Card title -->
                                    <h2 class="text-white display-5">{{ post.title }}</h2>
                                    <!-- Card info -->
                                    <ul class="nav nav-divider text-white-force align-items-center justify-content-center">
                                        <li class="nav-item">
                                            <div class="nav-link">
                                                <div class="d-flex align-items-center text-white position-relative">
                                                    <div class="avatar avatar-sm">
                                                        <img class="avatar-img rounded-circle"
                                                             src="{{ post.author.profile.picture.url }}" alt="avatar">
                                                    </div>
                                                    <span class="ms-3">توسط <a href="#"
                                                                               class="stretched-link text-reset btn-link">{{ post.author.first_name }}</a></span>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="nav-item">{{ post.date_posted }}</li>
                                        <li class="nav-item">زمان مطالعه 5 دقیقه</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- =======================
        Inner intro END -->

        <!-- =======================
        Main START -->
        <section class="pt-0">
            <div class="container position-relative" data-sticky-container>
                <div class="row">
                    <!-- Main Content START -->
                    <div class="col-lg-9 mb-5">
                        <h4>{{ post.title }}</h4>
                        <p>{{ post.content }}</p>

                        <!-- Author info START -->
                        <div class="d-flex p-2 p-md-4 my-3 bg-primary bg-opacity-10 rounded">
                            <!-- Avatar -->
                            <a href="#">
                                <div class="avatar avatar-xxl me-2 me-md-4">
                                    <img class="avatar-img rounded-circle" src="{{ post.author.profile.picture.url }}"
                                         alt="avatar">
                                </div>
                            </a>
                            <!-- Info -->
                            <div>
                                <div class="d-sm-flex align-items-center justify-content-between">
                                    <div>
                                        <h4 class="m-0"><a
                                                href="post-single-4.html#">{{ post.author.get_full_name }}</a></h4>
                                        <small>توضیحات</small>
                                    </div>
                                    <a href="post-single-4.html#" class="btn btn-xs btn-primary-soft">دیدن دیگر
                                        مقالات</a>
                                </div>
                                <p class="my-2">توضیجات بیشتر درباره شخص</p>
                                <!-- Social icons -->
                                <ul class="nav">
                                    <li class="nav-item">
                                        <a class="nav-link ps-0 pe-2 fs-5" href="post-single-4.html#"><i
                                                class="fab fa-facebook-square"></i></a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link px-2 fs-5" href="post-single-4.html#"><i
                                                class="fab fa-twitter-square"></i></a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link px-2 fs-5" href="post-single-4.html#"><i
                                                class="fab fa-linkedin"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- Author info END -->

                        <!-- Comments START -->
                        <div class="mt-5">
                            <h3>{{ post.comments.count }} کامنت</h3>
                            <!-- Comment level 1-->
                            {% for comment in post.comments.all %}
                                {% if comment.reply_to == null %}
                                    <div class="my-4 d-flex">
                                        <img class="avatar avatar-md rounded-circle float-start me-3"
                                             src="{{ comment.author.profile.picture.url }}" alt="avatar">
                                        <div>
                                            <div class="mb-2">
                                                <h5 class="m-0">{{ comment.author.profile.nickname }}</h5>
                                                <span class="me-3 small">{{ comment.date_posted }}</span>
                                                <a onclick="reply({{ comment.id }},'{{ comment.author.profile.nickname }}')" href="#comment" class="text-body fw-normal">پاسخ</a>
                                            </div>
                                            <p>{{ comment.content }}</p>
                                        </div>
                                    </div>
                                    {% for reply in comment.replies.all %}
                                        <!-- Comment children level 2 -->
                                        <div class="my-4 d-flex ps-2 ps-md-3">
                                            <img class="avatar avatar-md rounded-circle float-start me-3"
                                                 src="{{ reply.author.profile.picture.url }}" alt="avatar">
                                            <div>
                                                <div class="mb-2">
                                                    <h5 class="m-0">{{ reply.author.profile.nickname }}</h5>
                                                    <span class="me-3 small">{{ reply.date_posted }} </span>
                                                <a onclick="reply({{ reply.id }}, '{{ reply.author.profile.nickname }}')" href="#comment" class="text-body fw-normal">پاسخ</a>
                                                </div>
                                                <p>{{ reply.content }}</p>
                                            </div>
                                        </div>
                                        {% for reply_2 in reply.replies.all %}
                                            <!-- Comment children level 3 -->
                                            <div class="my-4 d-flex ps-3 ps-md-5">
                                                <img class="avatar avatar-md rounded-circle float-start me-3"
                                                     src="{{ reply_2.author.profile.picture.url }}" alt="avatar">
                                                <div>
                                                    <div class="mb-2">
                                                        <h5 class="m-0">{{ reply_2.author.profile.nickname }}</h5>
                                                        <span class="me-3 small">{{ reply_2.date_posted }} </span>
                                                    </div>
                                                    <p>{{ reply_2.content }}</p>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    {% endfor %}
                                {% endif %}

                            {% endfor %}
                        </div>
                        <!-- Comments END -->
                        <!-- Reply START -->
                        <div id="comment">
                            <h3>نطرات خود را با  ما به اشتراک بگذارید</h3>
                            <form method="post" class="row g-3 mt-2">
                                {% csrf_token %}
                                <input id="reply_input" type="hidden" name="reply_to" value="">
                                <div class="col-12">
                                    <label class="form-label">نظر شما *</label>
                                    <textarea name="content" class="form-control" rows="3"></textarea>
                                </div>
                                <div class="col-12">
                                    <input id="send_comment" value="ارسال" type="submit" class="btn btn-primary">
                                </div>
                            </form>
                        </div>
                        <!-- Reply END -->
                    </div>
                    <!-- Main Content END -->

                    <!-- Right sidebar START -->
                    <div class="col-lg-3">
                        <div data-sticky data-margin-top="80" data-sticky-for="991">
                            <!-- Categories -->
                            <div class="row g-2">
                                <h5>Categories</h5>
                                <div class="d-flex justify-content-between align-items-center bg-warning bg-opacity-15 rounded p-2 position-relative">
                                    <h6 class="m-0 text-warning">Photography</h6>
                                    <a href="post-single-4.html#"
                                       class="badge bg-warning text-dark stretched-link">09</a>
                                </div>
                                <div class="d-flex justify-content-between align-items-center bg-info bg-opacity-10 rounded p-2 position-relative">
                                    <h6 class="m-0 text-info">Travel</h6>
                                    <a href="post-single-4.html#" class="badge bg-info stretched-link">25</a>
                                </div>
                                <div class="d-flex justify-content-between align-items-center bg-danger bg-opacity-10 rounded p-2 position-relative">
                                    <h6 class="m-0 text-danger">Photography</h6>
                                    <a href="post-single-4.html#" class="badge bg-danger stretched-link">75</a>
                                </div>
                                <div class="d-flex justify-content-between align-items-center bg-primary bg-opacity-10 rounded p-2 position-relative">
                                    <h6 class="m-0 text-primary">Covid-19</h6>
                                    <a href="post-single-4.html#" class="badge bg-primary stretched-link">19</a>
                                </div>
                                <div class="d-flex justify-content-between align-items-center bg-success bg-opacity-10 rounded p-2 position-relative">
                                    <h6 class="m-0 text-success">Business</h6>
                                    <a href="post-single-4.html#" class="badge bg-success stretched-link">35</a>
                                </div>
                            </div>

                            <!-- Newsletter START -->
                            <div class="bg-light p-4 mt-4 rounded-3 text-center">
                                <h4>Subscribe to our mailing list!</h4>
                                <form>
                                    <div class="mb-3">
                                        <input type="email" class="form-control" placeholder="Email address">
                                    </div>
                                    <button type="submit" class="btn btn-primary">Subscribe</button>
                                    <div class="form-text">We don't spam</div>
                                </form>
                            </div>
                            <!-- Newsletter END -->

                            <!-- Advertisement -->
                            <div class="mt-4">
                                <a href="post-single-4.html#" class="d-block card-img-flash">
                                    <img src="{% static 'images/adv.png' %}" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- Right sidebar END -->
                </div>
            </div>
        </section>
        <!-- =======================
        Main END -->

        <!-- =======================
        Sticky post START -->
        <div class="sticky-post bg-light border p-4 mb-5 text-sm-end rounded d-none d-xxl-block">
            <div class="d-flex align-items-center">
                <!-- Title -->
                <div class="me-3">
                    <span>Next post<i class="bi bi-arrow-right ms-3"></i></span>
                    <h6 class="m-0"><a href="javascript:void(0)" class="stretched-link btn-link text-reset">Bad habits
                        that people in the industry need to quit</a></h6>
                </div>
                <!-- image -->
                <div class="col-4 d-none d-md-block">
                    <img src="{% static 'images/blog/4by3/05.jpg' %}" alt="Image">
                </div>
            </div>
        </div>
        <!-- =======================
        Sticky post END -->

    </main>
    <script>
    function reply(comment_id, author){
        author = " پاسخ به " + author
        document.getElementById("reply_input").value = comment_id;
        document.getElementById("send_comment").value = author;
    }
    </script>

{% endblock content %}
